<head>
<style type="text/css">
body {
	margin: 0px;
    color: white;
}
.before {
	top: 0px;
	height: 500px;
}
.footer {
	height: 50px;
	width: 100%;
	background: black;
}
</style>
</head>
<body>
<div class="before">
	
</div>
<div class="footer">
	FOOTER
</div>
</body>
