<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.head {
	height: 80px;
}
.text {
	color: black;
	top: 80px;
}
</style>
<script type="text/javascript">

// $(document).ready(function() {
// 	alert('hi');
// });

</script>
</head>
<body>

<div class="head">
	<%= render "shared/header" %>	
</div>
<div class="text">
</div>

<%= render "shared/footer" %>

</body>
</html>

